main{
    height: 81vh;
    display: flex;
    align-items: center;
}
.left{
    width: 50%;
    height: 100%;
    background: url(/img/contact.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-right: 80px;
}
form{
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 20px;
}
form label{
    width: 100%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container label{
    width: 47%;
}
label input, label textarea{
    height: 100%;
    width: 100%;
    padding: 10px 7px;
    margin-top: 5px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #bab7b7;
    background: #F7F4F4;
}
label input:focus, label textarea:focus{
    border: 1px solid var(--black);
}
label textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    height: 200px;
}
label h4{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
form button{
    width: 45%;
    align-self: flex-end;
    padding: 10px 0px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    cursor: pointer;
}
form button:hover{
    background-color: #054683;
    transition: all ease .3s;
}
@media screen and (max-width:700px){
    header{
        padding: 10px ;
    }
    header h2{
        font-size: 22px;
    }
    main{
        justify-content: center;
    }
    nav{
        gap: 15px;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
        padding: 50px;
        background: url(/img/contact.jpeg) no-repeat;
        background-position: center;
        background-size: cover; 
    }
    form{
        width: 100%;
        background: rgba(255, 255, 255, 0.758);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.14);   
        padding: 20px;
    }
    footer{
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        gap: 5px;
    }
}