#main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding: 50px 200px;
}
.aside{
    position: relative;
    width: 37%;
    height: auto;
    background: url(/img/cake.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.art{
    width: 63%;
    display: flex;
    flex-direction: column; 
    gap: 15px;
}
.container{
    position: relative;
    width: 60%;
    height: 300px;
    background: url(/img/pizza.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;}
.top{
    gap: 2%;
    display: flex;
    align-items: center;
    width: 100%;
}
.ticket{
    position: absolute;
    display: flex;
    bottom: 15px;
    right: 15px;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 110px;
    height: 40px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}
.ticket h4{
    font-weight: 400;
}
.text h2, .text span{
    color: var(--main-color);
    font-family: 'Yeseva One', serif;
    font-size: 32px;
}
.text span{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.text p{
    width: 100%;
}
.text a{
    color: var(--main-color);
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 7px;
    border: var(--main-color) 2px solid;
    width: 100%;
    text-align: center;
    transition: all ease .3s;
}
.text a:hover{
    color: #fff;
    background-color: var(--main-color);
}
.btm{
    position: relative;
    width: 100%;
    height: 285px;
    background: url(/img/drinks.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#events{
    height: 91vh;
    width: 100%;
}
.title{
    padding: 0px 200px;
    font-size: 30px;
    font-weight: 600;
    height: 11%;
}
.events{
    height: 87%;
}
.event{
    height: 29%;
    padding: 0px 200px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.e-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.e-text h4{
    font-size: 24px;
    font-weight: 500;
}
.e-icons{
    display: flex;
    gap: 25px;
}
.event p{
    width: 60%;
}
.event button{
    padding: 10px 60px;
    background-color: transparent;
    border: var(--main-color) 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    color: var(--main-color);
}
.event:hover{
    background-color: var(--main-color);
    transition: all ease .3s;
    color: #fff;
}
.event:hover button{
    color: #fff;
    border: 2px solid #fff;
}
.event:hover button:hover{
    background-color: #ffffff20;
    transition: all ease .3s;
}
.events hr{
    width:75%;
    margin: auto;
    border-top: 1px solid #1c1c1c18;
}
#about{
    padding: 0px 200px;
    width: 100%;
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about .left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#about .right{
    width: 40%;
    height: 75%;
    background: url(/img/rest.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#about .left h2{
    font-size: 35px;
    font-weight: 500;
    padding-right: 50px;
    text-transform: uppercase;
    border-bottom: 4px solid #003566;
}
#about .left a{
    color: var(--main-color);
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 7px;
    border: var(--main-color) 2px solid;
    width: 45%;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
#find{
    height: 81vh;
    padding: 0px 200px;
}
#find h2{
    border-bottom: 4px solid #003566;
    width: 25%;
    text-align: center;
    margin: auto;
    padding: 5px 0px;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}
#find .left{
    width: 40%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.left iframe{
    width: 100%;
    height: 100%;
}
.content{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
}
#find .right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.right ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 15px;
}
.right ul h4{
    font-weight: 400;
    letter-spacing: 1px;
}
.right a{
    width: 40%;
    text-align: center;
    padding: 8px 0px;
    background-color: transparent;
    border: var(--main-color) 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    color: var(--main-color);
}
#about .left a:hover, .right a:hover{
    color: #fff;
    background-color: var(--main-color);
    transition: all ease .3s;
}
